doctype html
html
    head
        title= title
    body
        h1 Update Custom Object Form
        form(action='/update-cobj', method='POST')
            label(for='name') Name:
            input(type='text', id='name', name='name', required=true)
            label(for='description') Description:
            input(type='text', id='description', name='description', required=true)
            label(for='category') Category:
            input(type='text', id='category', name='category', required=true)
            button(type='submit') Submit